<!DOCTYPE html>
<html data-ng-app="smartmongol">
<head>
	<title>Smartmongol</title>

	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-route.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="lib/hammer.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>

	<script src="lib/angular-material.min.js"></script>
	<link rel="stylesheet" href="lib/angular-material.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div>
		<md-content>
	    	<md-tabs md-dynamic-height md-border-bottom>
<!-- ========================= Smartmongol Main Tab ================================= -->	
		  	<md-tab label="Smartmongol Team"></md-tab>
	      	
<!-- ========================= Our Team Tab ================================= -->
	      	<md-tab label="Our Team">
		        <md-content class="md-padding">
		        	<div align="center">
		        		<div layout="column">
		        			<h2>Our Team:</h2>
			        		<p style="color:black;" layout="column" flex="40">
		          			Мэдээлэл технологи гэдэг үгээр овоглох болсондоо бид баяртай байдаг. Ижил хүсэл зорилгоор нэгдэн багаар ажиллаж, мэдлэг чадвараа харилцан солилцож, түүгээр ч зогсохгүй хамтдаа бүтээлчээр ажиллан Монгол улсынхаа мэдээлэл технологийн хөгжилд өөрсдийн хувь нэмрийг оруулах гэсэн эрхэм сэтгэл өвөртлөн энэхүү багийг байгуулсан билээ. Анх 2011 оноос үйл ажиллагаагаа эхэлсэн бөгөөд одоогоор 4 гишүүнтэй үйл ажиллагаагаа явуулж байна.</p>
			        	</div> 
			        	<div layout="row" layout-sm="row" layout-align="center center">
			        		<div layout="column" flex>
			          		<md-grid-list
						        md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
						        md-row-height-gt-md="1:1" md-row-height="2:2"
						        md-gutter="20px" md-gutter-gt-sm="8px"
						        md-gutter-sm="8px" >
							    <md-grid-tile class="green">
							      <md-grid-tile-footer>
							        <h3>Ganzorig Gankhuyag</h3>
							        <h3>Video Analyzer</h3>
							      </md-grid-tile-footer>
							    </md-grid-tile>
							    <md-grid-tile class="purple">
							      <md-grid-tile-footer>
							        <h3>Erdenebayar Chinbat</h3>
							        <h3>Data Analyzer</h3>
							      </md-grid-tile-footer>
							    </md-grid-tile>
							    <md-grid-tile class="blue">
							      <md-grid-tile-footer>
							        <h3>Enkhtaivan Gansukh</h3>
							        <h3>Web Analyzer</h3>
							      </md-grid-tile-footer>
							    </md-grid-tile>
							    <md-grid-tile class="yellow">
							      <md-grid-tile-footer>
							        <h3>Enkhjargal Gansukh</h3>
							        <h3>Mobile Analyzer</h3>
							      </md-grid-tile-footer>
							    </md-grid-tile>
							</md-grid-list>
			          	</div>
			        	</div>
			          	
		        	</div>
		        </md-content>
	      	</md-tab>
<!-- ========================= Projects Tab ================================= -->
	      	<md-tab label="Projects">
	        	<md-content class="md-padding">
	          		<h1 class="md-display-2" style="color:black;">Projects</h1>
	          		<div>
	          			<md-grid-list
					        md-cols-sm="4" md-cols-md="4" md-cols-gt-md="6"
					        md-row-height-gt-md="1:1" md-row-height="1:1"
					        md-gutter="12px" md-gutter-gt-sm="8px" >
						    <md-grid-tile class="yellow" md-rowspan="2" md-colspan="2">
						      <md-grid-tile-footer>
						        <h3>#3: (1r x 1c)</h3>
						      </md-grid-tile-footer>
						    </md-grid-tile>
						    <md-grid-tile class="blue" md-rowspan="2" md-colspan-sm="2">
						      <md-grid-tile-footer>
						        <h3>#4: (2r x 1c)</h3>
						      </md-grid-tile-footer>
						    </md-grid-tile>
						    <md-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-md="1" md-colspan-sm="1">
						      <md-grid-tile-footer>
						        <h3>#5: (2r x 2c)</h3>
						      </md-grid-tile-footer>
						    </md-grid-tile>
						    <md-grid-tile class="green"
						        md-rowspan="2" md-colspan-sm="3">
						      <md-grid-tile-footer>
						        <h3>#6: (2r x 1c)</h3>
						      </md-grid-tile-footer>
						    </md-grid-tile>
					  	</md-grid-list>
	          		</div>	
	        	</md-content>
	      	</md-tab>
<!-- ========================= Contact us Tab ================================= -->
	      	<md-tab label="Contact us">
	        	<md-content layout="column">
	        		<div class="md-padding">
	        			<md-grid-list
					        md-cols-sm="4" md-cols-md="4" md-cols-gt-md="6"
					        md-row-height-gt-md="1:1" md-row-height="1:1" md-row-height-sm="1:2"
					        md-gutter="12px" md-gutter-gt-sm="8px" flex>
					        <md-grid-tile md-rowspan="2" md-rowspan-sm="3" md-colspan="3" md-colspan-sm="1" flex>
					        	<div layout="column" flex style="padding-left:20px;">
			        				<md-list>
			        				 	<md-list-item class="md-2-line">
								        	<img ng-src="img/phone.png" width="30px"  style="margin:15px;"/>
								        	<div class="md-list-item-text">
								          		<h3> Mobile: 82-10-9372-9007 </h3>
								        	</div>
								    	</md-list-item>
								    	<md-list-item class="md-2-line">
								        	<img ng-src="img/email.png" width="30px" style="margin:15px;" />
								        	<div class="md-list-item-text">
								          		<p> Email: smartmongolian@gmail.com </p>
								        	</div>
								    	</md-list-item>
								    	<md-list-item class="md-2-line">
								        	<img ng-src="img/address.png" width="30px" style="margin:15px;"/>
								        	<div class="md-list-item-text">
								          		<p>Address: Seoul, South Korea</p>	
								        	</div>
								    	</md-list-item>
								    	<md-list-item class="md-2-line">
								        	<img ng-src="img/github.png" width="30px" style="margin:15px;"/>
								        	<a href="https://github.com/Smartmongol"class="md-list-item-text">
								          		<p>https://github.com/Smartmongol</p>	
								        	</a>
								    	</md-list-item>
								    </md-list>
					        	</div>
						    </md-grid-tile>
						    <md-grid-tile md-rowspan="2" md-rowspan-sm="3" md-colspan="3" md-colspan-sm="1" flex>
						        <div>
						        	<h2>Contact Us</h2>
							    	<md-input-container flex>
								      	<label>Name</label>
								      	<input ng-model="user.name" type="text">
								    </md-input-container>
								    <md-input-container flex>
								    	<label>Email (required)</label>
								      	<input ng-model="user.email" type="email"  ng-required="true">
								    </md-input-container>
								    <md-input-container flex>
								      	<label>Message</label>
								      	<textarea ng-model="user.message" columns="1" md-maxlength="150"></textarea>
								    </md-input-container>
								    <div align="center">
								    	<md-button class="md-raised md-primary">Send</md-button>	
								    </div>
							    </div>
						   	</md-grid-tile>
						</md-grid-list>
	        		</div>
					<div id="googleMap" style="width:100%;height:300px;"></div>
	        	</md-content>
	      	</md-tab>
	    </md-tabs>
	  </md-content>
	</div>
	<script src="js/app.js"></script>
	<script>
		function initialize() {
		  var mapProp = {
		    center: new google.maps.LatLng(37.5645557,126.9849151),
		    zoom:12,
		    panControl: false,
		    zoomControl: true,
		    scaleControl: false,
		    mapTypeControl: false,
		    streetViewControl: false,
		    scrollwheel: false,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		  };
		  var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</body>
</html>