<div class="md-padding">
	<div>
		<div>
			<h2>We want:</h2>
    		<p style="color:black;" layout="column" flex="40">
  			Мэдээлэл технологи гэдэг үгээр овоглох болсондоо бид баяртай байдаг. Ижил хүсэл зорилгоор нэгдэн багаар ажиллаж, мэдлэг чадвараа харилцан солилцож, түүгээр ч зогсохгүй хамтдаа бүтээлчээр ажиллан Монгол улсынхаа мэдээлэл технологийн хөгжилд өөрсдийн хувь нэмрийг оруулах гэсэн эрхэм сэтгэл өвөртлөн энэхүү багийг байгуулсан билээ. Анх 2011 оноос үйл ажиллагаагаа эхэлсэн бөгөөд одоогоор 4 гишүүнтэй үйл ажиллагаагаа явуулж байна.</p>
    	</div> 
      	<div>
  		 	<div>
			  <div>
			    <md-input-container>
			      <label>Name</label>
			      <input ng-model="user.title">
			    </md-input-container>
			    <md-input-container>
			      <label>Email</label>
			      <input ng-model="user.email" type="email">
			    </md-input-container>
			    <md-input-container>
			      <label>Phone</label>
			      <input ng-model="user.phone" type="email">
			    </md-input-container>
			    <md-button class="md-raised md-primary">Send</md-button>
			  </div>
			</div>
      	</div>
	</div>
</div>