<style>
	#googleMap{
		position: absolute; 
		bottom: 0;
		width:100%;
		height:250px;
	}
	#contact_info_field{
		margin-top: 100px;
	}
</style>
<div>
	<div class="container" id="contact_info_field">
		<div align="center">
			<div>
				<h3>
					<span>
						<img src="img/contact/email.png" height="30px;">
					</span> smartmongolian@gmail.com
				</h3>
			</div>
			<div>
				<h3>
					<span>
						<img src="img/contact/phone.png" height="30px;">
					</span> (+82)-10-9372-9007
				</h3>
			</div>
			<div>
				<h3>
					<span>
						<img src="img/contact/location.png" height="30px;">
					</span> Seoul, South Korea
				</h3>
			</div>
		</div>
	</div>
	<div id="googleMap"></div>	
</div>

