<style>
	#home_page{
/*		
		background: #2c3e50;
		background: -webkit-linear-gradient(to right, #2c3e50 , #267871);
		background: linear-gradient(to right, #2c3e50 , #267871); 
*/
		background: #43cea2;
		background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);
		background: linear-gradient(to left, #43cea2 , #185a9d); 
		height: 100%;
	}
	#typing_text{
		color: #fff;
		font-size: 40px;
		text-align: center;
	}
</style>
<div id="home_page">
	<div style="padding-top: 100px;">
		<div class="row" align="center">
			<div class="col-md-2"></div>
			<div class="col-xs-12 col-md-8">
				<p id="typing_text" typewrite type-delay="100" blink-cursor="false" text="Great things in business are never done by one person. They're done by a team of people."></p>
				<p id="typing_text" typewrite type-delay="100" blink-cursor="true" text="Steve Jobs" initial-delay="10s"></p>
			</div>	
			<div class="col-md-2"></div>
		</div>
	</div>
</div>

 
