<div layout-padding>
	<div layout="row" layout-align="center center" layout-sm="column">
		<div flex="30">
			<div style="font-size:150px; color:#3498db; text-align:center;">We</div>
		</div>
		<div flex>
			<div style="font-size:40px; padding-top:30px; padding-right:20px;">are the Smartmongolia Team</div>
			<div style="font-size:25px;  padding-right:20px;">want to develop Mongolian contents other Generation</div>
			<typewrite text="or the blinking frequency" initial-delay="11s" type-delay="50" blink-delay="500"></typewrite>
		</div>	
	</div>
</div>