<style>
	#home_page{
/*		
		background: #2c3e50;
		background: -webkit-linear-gradient(to right, #2c3e50 , #267871);
		background: linear-gradient(to right, #2c3e50 , #267871); 
*/
		background: #43cea2;
		background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);
		background: linear-gradient(to left, #43cea2 , #185a9d); 
		height: 100%;
	}
	#typing_text{
		color: #fff;
		font-size: 40px;
		text-align: center;
	}
</style>
<div id="home_page">
	<div style="padding-top: 100px;">
		<div style="margin-top: 50px;">
			<p id="typing_text" typewrite type-delay="100" blink-cursor="false" text="Eat, Think, Code"></p>
			<p id="typing_text" typewrite type-delay="100" blink-cursor="true" text="Passion for the Develops..." initial-delay="4s"></p>
		</div>
	</div>
</div>