<div>
	<div>
		<h2>We want:</h2>
		<p style="color:black;" layout="column" flex="40">
			Мэдээлэл технологи гэдэг үгээр овоглох болсондоо бид баяртай байдаг. Ижил хүсэл зорилгоор нэгдэн багаар ажиллаж, мэдлэг чадвараа харилцан солилцож, түүгээр ч зогсохгүй хамтдаа бүтээлчээр ажиллан Монгол улсынхаа мэдээлэл технологийн хөгжилд өөрсдийн хувь нэмрийг оруулах гэсэн эрхэм сэтгэл өвөртлөн энэхүү багийг байгуулсан билээ. Анх 2011 оноос үйл ажиллагаагаа эхэлсэн бөгөөд одоогоор 4 гишүүнтэй үйл ажиллагаагаа явуулж байна.</p>
	</div> 
	<div layout="row" layout-md="column" layout-sm="column">
		<div flex>
			<md-card class="md-whiteframe-z2">
		      <md-card-content>
		      	<img src="img/4.jpg" width="100%">
		        <h2 class="md-title">Ganzorig G</h2>
		        <p>Video Encoding</p>
		      </md-card-content>
		      <md-divider></md-divider>
		      <div class="md-actions" layout="row" layout-align="center center">
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/facebook.svg"></md-icon></md-button>
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/twitter.svg"></md-icon></md-button>
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/github.svg"></md-icon></md-button>
		      </div>
		    </md-card>
		</div>
		<div flex>
			<md-card class="md-whiteframe-z2">
		      <md-card-content>
		      	<img src="img/3.jpg" width="100%">
		        <h2 class="md-title">Erdenebayar Ch</h2>
		        <p>Database & Mobile Developer</p>
		      </md-card-content>
		      <md-divider></md-divider>
		      <div class="md-actions" layout="row" layout-align="center center">
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/facebook.svg"></md-icon></md-button>
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/twitter.svg"></md-icon></md-button>
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/github.svg"></md-icon></md-button>
		      </div>
		    </md-card>
		</div>
		<div flex>
			<md-card class="md-whiteframe-z2">
		      <md-card-content>
		      	<img src="img/2.jpg" width="100%">
		        <h2 class="md-title">Enkhtaivan G</h2>
		        <p>Bio Science & Web Developer</p>
		      </md-card-content>
		      <md-divider></md-divider>
		      <div class="md-actions" layout="row" layout-align="center center">
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/facebook.svg"></md-icon></md-button>
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/twitter.svg"></md-icon></md-button>
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/github.svg"></md-icon></md-button>
		      </div>
		    </md-card>
		</div>
		<div flex>
			<md-card class="md-whiteframe-z2">
		      <md-card-content>
		      	<img src="img/1.jpg" width="100%">
		        <h2 class="md-title">Enkhjargal G</h2>
		        <p>JavaScript & Mobile Developer</p>
		      </md-card-content>
		      <md-divider></md-divider>
		      <div class="md-actions" layout="row" layout-align="center center">
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/facebook.svg"></md-icon></md-button>
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/twitter.svg"></md-icon></md-button>
		        <md-button class="md-icon-button"><md-icon md-svg-icon="img/github.svg"></md-icon></md-button>
		      </div>
		    </md-card>
		</div>
	</div>
</div>
