<div>
  	<md-content layout-md="column" layout-sm="column">
	  	<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Nuuts Tovhcoo">
				<div>
					<h1>Nuuts Tovchoo</h1>
					<img src="img/nuuts.jpg">	
				</div>
			</md-tab>
			<md-tab label="Bair">
				<div>
					<h1>Bair</h1>
					<img src="img/nuuts.jpg">	
				</div>
			</md-tab>
			<md-tab label="Buuz">
				<div>
					<h1>Buuz</h1>
					<img src="img/buuz.jpg">	
				</div>
			</md-tab>
			<md-tab label="KRL">
				<div>
					<h1>KRL logistic</h1>
					<div width="100%" height="100%">
						<img src="img/krl.jpg" width="20%">		
					</div>
				</div>
			</md-tab>
			<md-tab label="English Card">
				<h1>English Card</h1>
				<img src="img/englishcard.jpg" width="100%">
			</md-tab>
			<md-tab label="Uranshuvuu">
				<h1>Uranshuvuu</h1>
				<img src="img/uran.jpg" width="100%">
			</md-tab>
		</md-tabs>
	</md-content>
</div>