<div>
  	<md-content>
	  	<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Nuuts Tovhcoo">
				<div>
					<h1>Nuuts Tovchoo</h1>
					<img src="img/nuuts.jpg">	
				</div>
			</md-tab>
			<md-tab label="Bair">
				<div>
					<h1>Bair</h1>
					<img src="img/nuuts.jpg">	
				</div>
			</md-tab>
			<md-tab label="Buuz">
				<div>
					<h1>Buuz</h1>
					<img src="img/buuz.jpg">	
				</div>
			</md-tab>
			<md-tab label="KRL">
				<div>
					<h1>KRL logistic</h1>
					<img src="img/uran.jpg" width="100%">	
				</div>
			</md-tab>
			<md-tab label="English Words">
				<h1>English Words</h1>
				<img src="img/samsung.jpg" width="100%">
			</md-tab>
			<md-tab label="Uranshuvuu">
				<h1>Uranshuvuu</h1>
				<img src="img/uran.jpg" width="100%">
			</md-tab>
		</md-tabs>
	</md-content>
</div>