<style>
	#projects_page{
		margin-top: 100px;
		text-align: center;
	}
	#image_slide_field{
		text-align: center;
	}
	.slide{
		width: 100%;

		-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 1s; /* Firefox < 16 */
	        -ms-animation: fadein 1s; /* Internet Explorer */
	         -o-animation: fadein 1s; /* Opera < 12.1 */
	            animation: fadein 1s;
	}

	@keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Firefox < 16 */
	@-moz-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}
	#prev_slide{	
		vertical-align: middle;
	}
	#next_slide{
		vertical-align: middle;
	}
</style>

<div id="projects_page" class="row">
	<div class="col-xs-2 col-md-1" id="prev_slide" ng-click="prevSlide()">
		<img width="80%" src="img/projects/prev.png">
	</div>
	<div class="col-xs-8 col-md-10" id="image_slide_field">
		<img ng-repeat="image in images" ng-src="img/projects/{{image}}.jpg" class="slide" ng-hide="!isCurrentIndex($index)">
	</div>
	<div class="col-xs-2 col-md-1" id="next_slide" ng-click="nextSlide()">
		<img width="80%" src="img/projects/next.png">
	</div>
</div>
