<style>
	.team_profile{
		text-align: center;
		margin-top: 30px;
	}
	.team_image{
		max-width: 150px;
	}
	.team_name{
		margin-top: 10px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-3 team_profile">
			<img src="img/team/4.jpg" class="img-circle team_image">
			<div class="team_name">Ganzorig Gankhuyag</div>
			<div class="text-success">C & JS Developer</div>
		</div>
		<div class="col-xs-6 col-md-3 team_profile">
			<img src="img/team/3.jpg" class="img-circle team_image">
			<div class="team_name">Erdenebayar Chinbat</div>
			<div class="text-success">C++ Developer</div>
		</div>
		<div class="col-xs-6 col-md-3 team_profile">
			<img src="img/team/2.jpg" class="img-circle team_image">
			<div class="team_name">Enkhtaivan Gansukh</div>
			<div class="text-success">HTML & JS Developer</div>
		</div>
		<div class="col-xs-6 col-md-3 team_profile">
			<img src="img/team/1.jpg" class="img-circle team_image">
			<div class="team_name">Enkhjargal Gansukh</div>
			<div class="text-success">iOS Developer #Swift Lover</div>
		</div>	
	</div>	
	<div style="margin-top: 20px;">
			Мэдээлэл технологи гэдэг үгээр овоглох болсондоо бид баяртай байдаг. Ижил хүсэл зорилгоор нэгдэн багаар ажиллаж, мэдлэг чадвараа харилцан солилцож, түүгээр ч зогсохгүй хамтдаа бүтээлчээр ажиллан Монгол улсынхаа мэдээлэл технологийн хөгжилд өөрсдийн хувь нэмрийг оруулах гэсэн эрхэм сэтгэл өвөртлөн энэхүү багийг байгуулсан билээ. Анх 2011 оноос үйл ажиллагаагаа эхэлсэн бөгөөд одоогоор 4 гишүүнтэй үйл ажиллагаагаа явуулж байна.
	</div> 
</div>
